<div class="answer_container">
  <h1>Now pay attention!!</h1>

  <h2> Your question was:</h2>
  <p><%= @question %> </p>
  <h2> The coach has spoken:</h2>
  <p><%= @answer %></p>

  <p><%= link_to "Ask another question", ask_path %> </p>
</div>
